 <!DOCTYPE html>
 <html>
     <head>
        <meta charset="UTF-8">
        <title>Cost of living</title>
        <link rel="stylesheet" href="./css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="./css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./js/appjs.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body class="container" style="max-width:640px">
        <!-- Chosee if you are from PR -->
        <div class="chosee btn hidden">
            <span class="label-chosee">Estoy pensando mudarme a Puerto Rico</span>
            <img src="./images/chosee-left.png" class="img-responsive">
        </div>

        <div class="chosee btn ">
            <span class="label-chosee">Estoy pensando mudarme desde Puerto Rico</span>
            <img src="./images/chosee-right.png" class="img-responsive">
        </div>
        <!-- End Chosee -->

        <!-- Select where you like to compare -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">
                    Actualmente vivo en
                </div>
            </div>
        </div>

        <div class="row margin-top-xs">
            <div class="col-xs-12">
                <input style="width:90%;" type="text" placeholder="MADRID" value="Auburn-Opelika AL"><i class="fa fa-minus more-city" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input style="width:90%;" type="text" placeholder="MADRID"><i class="fa fa-plus more-city" aria-hidden="true"></i>
            </div>
        </div>
        <!-- End select -->

        <!-- User money -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">
                    Actualmente mi sueldo es
                </div>
            </div>
        </div>

        <form class="form-inline margin-top-xs">
            <div class="row">
                <div class="col-xs-8">
                    <input type="range" min="300" max="500">
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" placeholder="Amount" value="40000">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- End user money -->

        <!-- Select variables -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <button class="btn filter-elements" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    Filtrar Elementos
                </button>

                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <!-- Example selected categories -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Elementos utilizados
                                        <span class="btn btn-xs pull-right element-action">
                                            Utilizar todo
                                            <i class="element-action fa fa-check-square" aria-hidden="true"></i>
                                        </span>

                                        <span class="btn btn-xs pull-right element-action">
                                            No utilizar nada
                                            <i class="element-action fa fa-trash-o" aria-hidden="true"></i>
                                        </span>
                                    </div>

                                    <div class="panel-body">
                                        <button type="button" class="btn btn-success">
                                            T-Bone Steak
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Carne molida
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Salchicha
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pollo para freír
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Trozos de atún claro enlatado
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Leche entera
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Huevos
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Margarina
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Queso parmesano
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Papas
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Guineos
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Lechuga
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pan especial
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Jugo de china
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Café
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Azúcar
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Cereal de hojuelas de maíz
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Guisantes verdes
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Melocotón
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Toallas faciales
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Detergente de lavaplatos
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Aceite de canola
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Comida congelada
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Maíz tierno entero congelado
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Papas fritas
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Refresco
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Alquiler apartamento
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Precio de vivienda
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Energía total
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Teléfono
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Balanceo de gomas
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Gasolina
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Visita a un optómetra
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Visita a un doctor
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Visita a un dentista
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Ibuprofén
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Lipitor
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Hamburger
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pizza
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pollo frito
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Recorte de pelo de caballero
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Salón de belleza (Recorte para dama con lavado y secado
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pasta dental
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Champú
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Lavado en seco
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Camisa de vestir de hombre
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Mahones de niño
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-success">
                                            Pantalón de mujer
                                            <i class="fa fa-times change-icon" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <span>Elementos no utilizados</span>
                                        <span class="btn btn-xs pull-right element-action">
                                            Utilizar todo
                                            <i class="element-action fa fa-check-square" aria-hidden="true"></i>
                                        </span>

                                        <span class="btn btn-xs pull-right element-action">
                                            No utilizar nada
                                            <i class="element-action fa fa-trash-o" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <button type="button" class="btn btn-danger">
                                            Reparación de electrodoméstico
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Periódico
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Película
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Bowling
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Bolas de tenis
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Servicios veterinaries
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Cerveza
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger">
                                            Vino
                                            <i class="fa fa-check change-icon" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Example no selected categories -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End selected variables -->

        <!-- Bar chart -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">
                    Salario comparable
                </div>
            </div>
        </div>

        <div class="row margin-top-xs">
            <div class="col-xs-12">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <!-- End Bar chart -->

        <!-- Radar chart -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">
                    Diferencia de precios
                </div>
            </div>
        </div>

        <div class="row margin-top-xs">
            <div class="col-xs-12">
                <canvas id="myRadarChart" width="400" height="400"></canvas>
            </div>
        </div>
        <!-- End Radar chart -->

        <!-- EDifference Between Data -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">Diferencia de precios con San Juan, PR</div>
            </div>
        </div>

        <div class="row margin-top-xs">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Prescott-Prescott Valley AZ</th>
                            <th>Little Rock-North Little Rock AR</th>
                            <th>Truckee-Nevada County CA</th>
                            <th>Washington-Arlington-Alexandria DC-VA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Alimentos</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                        <tr>
                            <td>Vivienda</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                        <tr>
                            <td>Utilidades</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                        <tr>
                            <td>Salud</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                        <tr>
                            <td>Transportación</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                        <tr>
                            <td>Misceláneos</td>
                            <td>+23%</td>
                            <td>-6%</td>
                            <td>-16.4%</td>
                            <td>+3.9%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Difference Between Data -->



        <!-- End select variables -->
        <div class="row margin-top-sm">
            <div class="col-xs-12">
                <div class="label">Diferencia de precios con San Juan, PR</div>
            </div>
        </div>

        <div class="row margin-top-xs">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Productos y servicios</th>
                            <th>Prescott-Prescott Valley AZ</th>
                            <th>Little Rock-North Little Rock AR</th>
                            <th>Truckee-Nevada County CA</th>
                            <th>Washington-Arlington-Alexandria DC-VA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                Steack<img style="max-width:100px;" src="./images/tbone_steak.png">
                            </td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                        </tr>
                        <tr>
                            <td>
                                Carne molida<img style="max-width:100px;" src="./images/grnd_beef.png">
                            </td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                            <td><center>2$</center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Difference Between Data -->


        <!-- Start of footer -->
        <footer class="well margin-top-sm">
            Developed @2016
        </footer>
        <!-- End of footer -->
    </body>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["San Juan", "Portland", "Pittsburgh", "Cleveland"],
        datasets: [{
            label: 'Salario Comparable (Miles)',
            data: [50, 58.109, 43.548, 45.116],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<script>
    var g = document.getElementById("myRadarChart");
    var myRadarChart = new Chart(g, {
    type: 'radar',
    data: {
        labels: ["Alimentos", "Vivienda", "Utilidades", "Salud", "Transportacion", "Miscelaneos"],
        datasets: [
        {
            label: "San Juan",
            backgroundColor: "rgba(255,255,000,0.2)",
            borderColor: "rgba(255,255,000,1)",
            pointBackgroundColor: "rgba(255,255,000,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,255,000,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        },
        {
            label: "Portland",
            backgroundColor: "rgba(248,000,000,0.2)",
            borderColor: "rgba(248,000,000,1)",
            pointBackgroundColor: "rgba(248,000,000,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(248,000,000,1)",
            data: [28, 48, 40, 19, 96, 27, 100]
        },
        {
            label: "Pittsburgh",
            backgroundColor: "rgba(059,131,189,0.2)",
            borderColor: "rgba(059,131,189,1)",
            pointBackgroundColor: "rgba(059,131,189,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(059,131,189,1)",
            data: [10, 30, 50, 3, 70, 35, 45]
        },
        {
            label: "Cleveland",
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "'rgba(75, 192, 192, 1)'",
            pointBackgroundColor: "rgba(75, 192, 192, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(75, 192, 192, 1)",
            data: [100, 67, 38, 23, 22, 44, 67]
        },
    ]
},
options: {
    scale: {
        reverse: true,
            ticks: {
                beginAtZero: true
                }
            }
    }
});
</script>
</html>
