 <!DOCTYPE html>
 <html>
     <head>
        <meta charset="UTF-8">
        <title>Cost of living</title>
        <link rel="stylesheet" href="./css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="./css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./js/vendor/angularjs.js" type="text/javascript"></script>
        <script src="./js/appjs.js" type="text/javascript"></script>
    </head>

    <body class="container">
        <div class="chosee">
            <img id="chosee-1" src="./images/chosee-left.png" class="img-responsive">
            <img id="chosee-2" src="./images/chosee-right.png" class="img-responsive">
        </div>

        <!-- This is the content of the page -->
        <div class="container">
        </div>
        <!-- End of content -->

        <!-- Start of footer -->
        <footer class="well">
            Developed @2016
        </footer>
        <!-- End of footer -->
    </body>
</html>

<script>

</script>