 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="UTF-8">
 	<title>Pagina Principal</title>
 	<link rel="stylesheet" href="./css/vendor/font-awesome.min.css">
 	<link rel="stylesheet" href="./css/vendor/bootstrap.min.css">
 	<link rel="stylesheet" href="./css/style.css">
 	<script src="./js/vendor/angularjs.js" type="text/javascript"></script>
 	<script src="./js/appjs.js" type="text/javascript"></script>
 	<style>
 		th {
 			background-color: #337ab7;
 			color: white;
 		}
 	</style>
 </head>

 <body>

 	<!-- This is the content of the page -->
 	<div class="container">
 		<!-- This is the header with the nav -->
 		<header>
 			<nav class="navbar navbar-default">
 				<div class="row">
 					<div class="col-xs-2">
 						<img src="./images/logo.jpg" class="img-responsive logo">
 					</div>


 				</div>
 			</nav>
 		</header>
 		<!-- Finish of header and nav -->
 		<div class="container">

 			<table class="table table-bordered" >
 				<thead class="thead-inverse" >
 					<tr>
 						<th colspan="2">
 							<p align="center"> Iniciar Sesión </p>
 						</th>
 					</tr>
 				</thead>
 				<tbody>
 					<tr>
 						<div class="form-group">


 						</div>
 						<td><label for="email">Email address:</label> </td>
 						<td> <input type="email" class="form-control" id="email"></td>
 					</div>
 				</tr>
 				<div class="form-group">



 					<tr>
 						<td><label for="pwd">Password:</label></td>
 						<td> 
 							<input type="password" class="form-control" id="pwd"> </td>

 						</tr>
 					</div>
 					<tr>
 						<td colspan="2">
 							<p align="center">
 								<button type="button" class="btn btn-primary">Regístrarse Gratis</button>
 							</p>
 						</td>
 					</tr>
 				</tbody>
 			</table>
 		</div>
 		...

 		<!-- Start of footer -->
 		<footer class="well">
 			Developed @2016
 		</footer>
 		<!-- End of footer -->
 	</div>
 	<!-- End of content -->

 </body>
 </html>
