.chosee {
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #26a69a;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.chosee:hover {
    background-color: #2bbbad;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.chosee:focus {
    background-color: #209085;
}

.chosee > img {
    margin-top: 5px;
}

.label-chosee {
    color: white;
    font-size: 25px;
    font-weight: bold;
}